In [37]:
import numpy as np
import pandas as pd

In [38]:
df=pd.read_csv('C:\\Users\\LG\\Downloads\\source\\python_stat_sample-master\\data\\ch2_scores_em.csv',index_col='student number')

In [39]:
scores=np.array(df['english'])[:10]

In [40]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [41]:
sc=np.sort(scores)

In [42]:
sc

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69])

In [43]:
pd.Series(sc).mode()

0    65
dtype: int64

In [44]:
mean=np.mean(sc)
dev=sc-mean
dev

array([-14., -13.,  -7.,  -6.,   1.,   2.,   3.,  10.,  10.,  14.])

In [45]:
an_scores=[50,60,58,54,51,56,57,53,52,59]
an_mean=np.mean(an_scores)
an_dev=an_scores-an_mean
an_dev

array([-5.,  5.,  3., -1., -4.,  1.,  2., -2., -3.,  4.])

In [46]:
np.mean(dev**2)

np.float64(86.0)

In [47]:
np.var(dev)

np.float64(86.0)

In [48]:
scores_df=pd.DataFrame({"score":scores},index=pd.Index(["A","B","C","D","E","F","G","H","I","J"],name='student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [49]:
summary_df["square of deviation"]=np.square(dev)
summary_df

NameError: name 'summary_df' is not defined

In [53]:
np.sqrt(np.var(scores,ddof=0))

np.float64(9.273618495495704)

In [54]:
pd.Series(scores).describe()

count    10.000000
mean     55.000000
std       9.775252
min      41.000000
25%      48.250000
50%      56.500000
75%      63.250000
max      69.000000
dtype: float64

In [55]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [56]:
np.sort(scores)

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69])

In [57]:
z=(scores-np.mean(scores))/np.std(scores)

In [58]:
z

array([-1.40182605,  1.50965882,  0.10783277, -1.50965882,  0.21566555,
       -0.75482941,  1.07832773, -0.64699664,  1.07832773,  0.32349832])

In [59]:
np.sort(z)

array([-1.50965882, -1.40182605, -0.75482941, -0.64699664,  0.10783277,
        0.21566555,  0.32349832,  1.07832773,  1.07832773,  1.50965882])

In [60]:
np.mean(z)

np.float64(-1.6653345369377347e-17)

In [61]:
np.std(z,ddof=0)

np.float64(0.9999999999999999)

In [64]:
zx=50+10*(scores-np.mean(scores))/np.std(scores)
zx

array([35.98173948, 65.09658825, 51.07832773, 34.90341175, 52.15665546,
       42.45170588, 60.78327732, 43.53003361, 60.78327732, 53.2349832 ])

In [65]:
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [66]:
scores_df["devation value"]=z
scores_df

         score  devation value
student
A           42       -1.401826
B           69        1.509659
C           56        0.107833
D           41       -1.509659
E           57        0.215666
F           48       -0.754829
G           65        1.078328
H           49       -0.646997
I           65        1.078328
J           58        0.323498

In [70]:
english_scores=np.array(df["english"])
pd.Series(english_scores).describe()

count    50.000000
mean     58.380000
std       9.799813
min      37.000000
25%      54.000000
50%      57.500000
75%      65.000000
max      79.000000
dtype: float64

In [74]:
freq, _ = np.histogram(english_scores, bins=10, range=(0, 100))
freq

array([ 0,  0,  0,  2,  8, 16, 18,  6,  0,  0])

In [76]:
#0~10,10~20..이라는 문자열 리스트 작성
freq_class=[f'{i}~{i+10}'for i in range(0,100,10)]
freq_dist_df=pd.DataFrame({'frequency':freq},index=pd.Index(freq_class,name='class'))
freq_dist_df

        frequency
class
0~10            0
10~20           0
20~30           0
30~40           2
40~50           8
50~60          16
60~70          18
70~80           6
80~90           0
90~100          0

In [80]:
for a in range(7):
    print(a)

0
1
2
3
4
5
6

In [81]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [82]:
for i in range(20,31,2):
    print(i)

20
22
24
26
28
30

In [86]:
t=0
for i in range(1,10):
    t=t+i
print(t)

45

In [87]:
t=0
for i in range(1,10,2):
    t=t+i
print(t)

25

In [89]:
class_value=[(i+(i+10))//2 for i in range (0,100,10)]
class_value

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [90]:
freq

array([ 0,  0,  0,  2,  8, 16, 18,  6,  0,  0])

In [91]:
r_freq=freq/freq.sum()
r_freq

array([0.  , 0.  , 0.  , 0.04, 0.16, 0.32, 0.36, 0.12, 0.  , 0.  ])

In [92]:
cr_freq=np.cumsum(r_freq)
cr_freq

array([0.  , 0.  , 0.  , 0.04, 0.2 , 0.52, 0.88, 1.  , 1.  , 1.  ])

In [98]:
freq_dist_df["class_value"]=class_value
freq_dist_df["relative frequncy"]=r_freq
freq_dist_df["cumulative relative frequency"]=cr_freq
freq_dist_df=freq_dist_df[["class_value","relative frequncy","cumulative relative frequency"]]
freq_dist_df

        class_value  relative frequncy  cumulative relative frequency
class
0~10              5               0.00                           0.00
10~20            15               0.00                           0.00
20~30            25               0.00                           0.00
30~40            35               0.04                           0.04
40~50            45               0.16                           0.20
50~60            55               0.32                           0.52
60~70            65               0.36                           0.88
70~80            75               0.12                           1.00
80~90            85               0.00                           1.00
90~100           95               0.00                           1.00

In [99]:
import matplotlib.pyplot as plt

In [101]:
%matplotlib inline

In [ ]:
fig=plt.figure(figsize=(10,6))
ax=fig.add_subplot(111)